SW = Singleview
MW = Multiview

Building SW/MW:
You need to instal python and pip

Building SW/MW:
You need to pip install these:
pyvips
tkinter-tooltip
pillow
pyinstaller
(pip install pyvips, tkinter-tooltip, pillow, pyinstaller)

Building MW:
You need these dlls in this folder:
(Take from a compiled copy, in _internal)
libglib-2.0
libgobject-2.0
ibvips-42
libvips-cpp-42

Building:
Finished copy can hopefully be found in "dist" folder.
In .spec you can disable terminal window if you dont want the cmd for errors. "console=True" to false. I think (I havent tested XD)

#Note, if you edit any source files, you must delete build and dist folders, otherwise you will build from outdated files.
